<h2 class="pt-3">Détail du "{{materiel.libelle}}" d'Id:{{materiel.id}}</h2>
<div class="row">
<ul class="col-8" class="list-group">
    <li class="list-group-item">
        <img [src]="materiel.photo">
    </li>
    <li class="list-group-item">
        Marque {{materiel.marque}}
    </li>
    <li class="list-group-item">
        Prix {{materiel.prix}}
    </li>
    <li class="list-group-item">
        Description {{materiel.description}}
    </li>
    <li class="list-group-item">
        Quantité: {{materiel.quantite}}
    </li>
    <li class="list-group-item">
        <input type="checkbox" [checked]="materiel.hautGamme">Haut de Gamme
    </li>
    <li class="list-group-item">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#comment">Afficher les commentaires</button>
    </li>
</ul>
<div class="col-4 collapse" id="comment">
    <h2>Liste des commentaires</h2>
    <nas-comment></nas-comment>
</div>
</div>